VITE_SUPABASE_URL=https://hifdnjclwrkpxqmcnkya.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhpZmRuamNsd3JrcHhxbWNua3lhIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTkxNTIwODMsImV4cCI6MjA3NDcyODA4M30.WsSKUGEMFukrrqKlkaiYqSyYFNrmrsgP_S2UAq1ymt0
VITE_BACKEND_URL=https://video-recording-kiosk.onrender.com